* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    mine-height :100vh;
}

i {
    color: white;
    padding: 0.6rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 10vh;
    color: white;
    padding: 2rem 4rem;
    position: sticky;
    top: 0;
    z-index: 100;
}


header span {
    color: orange;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    font-size: 1rem;
}

header nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    position: relative;
    transition: .6s;
}

header nav ul li a::after {
    content: '';
    height: 3px;
    background: orange;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 2%;
    transition: 0.6s;
}

header nav ul li a:hover::after {
    width: 100%;
}



.profile-reagan {
    display: none;
}

#main-acceuil {
    background: url(./assets/auraback.png);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1rem 4rem;
    padding-right: 420px;

}

.hero h2 {
    padding: 5rem 0 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.hero p {
    font-size: 1.3rem;
    font-style: bold;
    color: #eddddd;
    padding-bottom: 0.5rem;
}

#metier {
    color: rgb(151, 102, 12);
}

.moov {
    padding: 1rem 0;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-hero {

    display: flex;
    gap: 1rem;

}

.btn-hero a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 0.7rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
}


.btn-hero a:hover {
    color: red;
    background: #000;
    transform: translateY(3px);
}





/*FOOTER GENERAL*/



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 0 2rem;
    background: #000000cd;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 2rem 4rem;
}

.email,
.tel,
.copy,
.networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

select {
    background: #000;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}





/* SECTION CONTACT */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #433434;
}

.form form {
    padding-bottom: 16px;
}

.form input {
    padding: 0.8rem;
}

.form-gauche-container {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 16px;
    color: white;
}

.form-gauche-container h3 {
    padding: 16px 0;
    font-weight: 600;
    font-size: 19px;
}

.phone-form,
.email-form {
    padding-top: 16px;

}

.form-droite-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 20px;
    padding-left: 32px;
    color: white;
    padding-right: 32px;
    padding-bottom: 16px;
}

.form-droite-container input,
textarea {
    display: block;
    width: 100%;
}

.form button {
    margin-top: 1rem;
}

.form-droite-container button {
    text-decoration: none;

    color: #000;
    padding: 0.5rem 0.7rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
    width: 50%;

}






/* A PROPOS DE MOI */

.main-about {
    background: #000;
}



.whomore {
    display: flex;
    padding: 3rem 3rem;
    padding-bottom: 1rem;
}

.whomorepicture img {
    border-radius: 12px;
    width: 100%;
}

.whomoretext {
    flex-basis: 60%;
    padding-right: 2rem;
}

.whomorepicture {
    flex-basis: 40%;
    padding: 2rem 2rem;
}

.whomoretext h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.whomoretext {
    padding-top: 4rem;
    padding-left: 0.7rem;
    text-align: left;
    font-size: 1.4rem;
}

.whomoretext p {
    padding: 1rem 0 1rem 0;
    color: #ffffffd1;
}

.whomoretext a {
    text-decoration: none;
    color: #000;
    padding: 0.7rem 0.7rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
    display: inline-block;
    margin-top: 0.5rem;
}

.whomoretext a:hover {
    color: red;
    background: #000;
    transform: translateY(3px);
}

.skils-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 4rem 3rem 2rem;
    transition: .6s;
}

.web-dev-about,
.IT-Support,
.No-code-about,
.Workflow {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 1rem;
    border-radius: 12px;
    border: dashed rgb(101, 74, 24);
    background: rgb(119, 93, 41);
    transition: .6s;
    font-weight: 500;
    width: 100%;
}

.web-dev-about h3,
.IT-Support h3,
.No-code-about h3,
.Workflow h3 {
    padding: 1.2rem 0;
}



.web-dev-about p,
.IT-Support p,
.No-code-about p,
.Workflow p {
    padding-top: 10px;
    font-size: 1.1em;
}

.web-dev-about:hover {
    background: rgba(255, 166, 0, 0.251);
    transform: translateY(-12px);
}

.IT-Support:hover {
    background: rgba(255, 166, 0, 0.251);
    transform: translateY(-12px);
}

.No-code-about:hover {
    background: rgba(255, 166, 0, 0.251);
    transform: translateY(-12px);
}

.Workflow:hover {
    background: rgba(255, 166, 0, 0.251);
    transform: translateY(-12px);
}

#realisations-about {
    padding: 1rem 2rem;
    color: white;
    text-align: center;
}

#realisations-about h4 {
    padding: 2rem;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.realisations-about-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.no-code-realisations {
    background: rgba(63, 36, 63, 0.711);
    padding: 1rem;
    border-radius: 16px;
    border: solid rgba(255, 166, 0, 0.203);
    transition: .6s
}

.no-code-realisations:hover {
    background: rgba(13, 26, 84, 0.54);
    transform: translateY(-12px);
}

.no-code-realisations p {
    padding: 1rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.no-code-realisations a {
    text-decoration: none;
    color: #000;
    padding: 0.2rem 0.5rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
    display: inline-block;
    margin-top: 0.5rem;
}

.no-code-realisations a:hover {
    color: red;
    background: #000;
    transform: translateY(3px);
}

.devise {
    font-size: 2rem;
    padding-top: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem 2rem;
}

.devise-container {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.devise-container p {
    background-color: #1d0c0c;
    border-radius: 2rem 0;
    padding: 1rem 1rem;
    margin: 1rem;
    color: white;
}




/*---------------------------------CV-------------------*/





#main-cv {
    background: #090303;
    text-align: center;
    padding: 4rem;
    color: white;
}

#main-cv h1 {
    padding: 2rem;
    font-size: 4rem;
    font-family: sans-serif;
    font-style: italic;
}

#main-cv p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.first-about {
    font-size: 1.5rem;
    padding: 3rem 2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 2.3rem;
}

.card-cv {
    display: flex;
}

.card-cv span {
    font-weight: 700;
    color: rgb(208, 98, 98);
}

.formation-cv {
    flex-basis: 50%;
    text-align: left;
}

.formation-cv p,
.experience-cv p {
    padding-bottom: 1rem;
    color: azure;
}

.formation-cv h2,
.experience-cv h2 {
    padding-bottom: 4rem;
    font-weight: 600;
    font-size: 1.9rem;
}

.formation-cv h3,
.experience-cv h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: rgb(128, 86, 10);
}

.experience-cv {
    flex-basis: 50%;
    text-align: left;
    padding-left: 1rem;
}

.expertise-cv {
    padding: 2rem 1rem;
}

.expertise-cv h2 {
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.expertise-cv-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.expertise-dev-web,
.expertise-it-support,
.expertise-no-code {
    padding: 2rem;
    background: rgb(67, 47, 2);
    border-radius: 12px;
    transition: .6s;
}

.expertise-no-code:hover {
    color: red;
    background: #1d1303;
    transform: translateY(-12px);
    font-weight: 700;
    font-size: 1.6rem;
}

.expertise-it-support:hover {
    color: red;
    background: #1d1303;
    transform: translateY(-12px);
    font-weight: 700;
    font-size: 1.6rem;
}

.expertise-dev-web:hover {
    color: red;
    background: #1d1303;
    transform: translateY(-4px);
    font-weight: 700;
    font-size: 1.6rem;
}



.expertise-dev-web h3,
.expertise-it-support h3,
.expertise-no-code h3 {
    padding: 1rem;
    color: rgb(208, 98, 98);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.expertise-dev-web p,
.expertise-it-support p,
.expertise-no-code p {
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.certications-cv h2 {
    padding: 2rem;
}

.certifiactons-cv-container {
    display: flex;
}

.certications-cv-content {
    text-align: left;
    flex-basis: 50%;
}

.certications-cv-content h3 {
    padding: 1rem 0;
    color: rgb(208, 98, 98);
    font-size: 1.5rem;
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 25px;
    overflow: hidden;
    margin: 1rem 2.5rem;
}

.skill-progress-desktop {
    background-color: #e0982a;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    color: rgb(2, 0, 0);
    font-size: 14px;
}

#main-cv a {
    text-decoration: none;
    color: #000;
    padding: 1rem 1rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
    display: inline-block;
    margin-top: 0.5rem;
}

#main-cv a:hover {
    color: red;
    background: #000;
    transform: translateY(3px);
}

#main-services {
    background: #000;
    color: white;
    padding: 2rem;
    text-align: center;
}

#main-services h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 2rem;
}

#main-services p {
    font-style: italic;
    font-size: 1.7rem;
}

.main-services-container-dev,
.main-services-container-it-support,
.main-services-container-no-code {
    padding: 3rem 0;
}

.main-services-container-dev p,
.main-services-container-it-support p,
.main-services-container-no-code p {
    padding: 2rem 0;
}



.main-services-container {
    text-align: left;
}

.main-services-container a {
    text-decoration: none;
    color: #000;
    padding: 0.2rem 0.2rem;
    background: orange;
    font-weight: 600;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .6s;
    display: inline-block;
    margin-top: 0.5rem;
}

.main-services-container a:hover {
    color: red;
    background: #000;
    transform: translateY(3px);
}


/*MEDIAS QUERIES*/


nav .fa-solid {
    display: none;
}



@media (max-width:1065px) {
    nav .fa-solid {
        display: block;
    }

    nav ul {
        background: rgb(69, 49, 13);
        position: fixed;
        top: 0.5rem;
        right: -200px;
        width: 200px;
        height: 100vh;
        text-align: left;
        z-index: 2;
        padding: 2rem;
    }

    nav ul li {
        margin: 1rem;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 8px;
        left: 2.5rem;
        cursor: pointer;
    }

}


@media (max-width:1000px) {
    .hero img {
        display: inline-block;
        border-radius: 32px;
        width: 70%;
        transition: .7s;
    }

    .hero img:hover {
        transform: scale(1.09);
    }

    #main-acceuil {
        background: #000;
        padding: 3rem 2rem;
        text-align: center;
    }

    .btn-hero {
        display: inline-block;
        margin-top: 1rem;
    }

    .whomore {
        display: block;
        padding: 1rem 1rem;
    }


    .whomoretext a {
        display: block;
        text-align: center;
    }

    .first-about {
        padding: 1rem;
    }



    #main-cv {
        padding: 1rem;
    }


}

@media (max-width:830px) {
    footer {
        display: block;
        text-align: center;
    }

    .form-gauche-container {
        text-align: left;
        padding-left: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-cv {
        display: block;
    }

    .devise-container {
        display: block;
    }



    .expertise-cv-container {
        display: block;
    }

    .expertise-dev-web,
    .expertise-it-support,
    .expertise-no-code {
        margin: 2rem;
    }

    .realisations-about-container {
        display: block;
    }

    .no-code-realisations {
        margin: 2rem;
    }

}

@media (max-width:630px) {
    .skils-about {
        display: block;
    }

    .web-dev-about,
    .IT-Support,
    .No-code-about,
    .Workflow {
        margin: 1rem auto;
    }
}
